{% extends "base.html" %}

{% block title %}passgen{% endblock %}

{% block content %}
    <div class="bg-zinc-900 p-8 rounded-lg shadow-lg sm:w-full max-w-md">

        <div id="result" class="mb-4 p-4 bg-zinc-700 rounded-md text-center text-white sm:text-2xl text-sm">
            Twoje hasło pojawi się tutaj
        </div>
        
        <div class="mb-4">
            <label for="length" class="text-white font-bold block mb-2">Długość hasła:</label>
            <div class="flex items-center space-x-4">
                <input type="number" id="length" value="12" min="4" max="24" 
                       class="w-20 p-2 rounded-md bg-zinc-700 text-white border border-zinc-600 focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400">
                <input type="range" id="lengthRange" min="4" max="24" value="12" 
                       class="w-full accent-indigo-600">
            </div>
        </div>
        
        <script>
            const lengthInput = document.getElementById('length');
            const lengthRange = document.getElementById('lengthRange');
        
            lengthRange.addEventListener('input', () => {
                lengthInput.value = lengthRange.value;
            });
        
            lengthInput.addEventListener('input', () => {
                lengthRange.value = lengthInput.value;
            });
        </script>

        <fieldset class="mb-4">
            <legend class="text-sm font-medium text-indigo-400">Uwzględnij:</legend>
            <label class="flex items-center mt-2">
                <input type="checkbox" id="lowercase" checked class="w-5 h-5 accent-indigo-600">
                <span class="ml-2">Małe litery</span>
            </label>
            <label class="flex items-center mt-2">
                <input type="checkbox" id="uppercase" checked class="w-5 h-5 accent-indigo-600">
                <span class="ml-2">Wielkie litery</span>
            </label>
            <label class="flex items-center mt-2">
                <input type="checkbox" id="numbers" checked class="w-5 h-5 accent-indigo-600">
                <span class="ml-2">Cyfry</span>
            </label>
            <label class="flex items-center mt-2">
                <input type="checkbox" id="special" checked class="w-5 h-5 accent-indigo-600">
                <span class="ml-2">Znaki specjalne</span>
            </label>            
        </fieldset>

        <div class="flex space-x-4">
            <button id="generate" 
                    class="w-full bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded-lg">
                Wygeneruj hasło
            </button>
            <button id="copy" 
                    class="bg-zinc-700 hover:bg-zinc-600 text-white font-bold py-2 px-4 rounded-lg">
                Kopiuj
            </button>
        </div>

        <div id="error" class="flex justify-center text-red-500 text-sm mt-2"></div>

    </div>

    <script src="/static/js/script.js"></script>
{% endblock %}